@import '../node_modules/chessground/assets/chessground.base.css';
@import '../node_modules/chessground/assets/chessground.brown.css';
@import '../node_modules/chessground/assets/chessground.cburnett.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.page-content {
  @apply mx-auto max-w-7xl px-4 sm:px-6 md:px-24 py-4;
}
